/*
Project idea came from freeCodeCamp
https://www.freecodecamp.org/learn/responsive-web-design/responsive-web-design-projects/build-a-technical-documentation-page

about this data
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Loops_and_iteration

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
body {
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.6;
}

section header,header{
    font-size: 2em;
    font-weight: 700; /* options: 300+italic, 400, 700 */
}

em {
    font-weight: 300;
    font-style: italic;
}

code {
    font-family: 'Fira Code', monospace;
    display: block;
    text-align: left;
    white-space:pre;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    width: min-content;
    max-width: 11em;

    color: green;
    
    font-size: 1em;
    line-height: 1;

    padding: 10px 0 10px 0;
    margin-bottom: 1em;
    padding-left:20px;
}

.bar {
    width: 15px;
    height: 80%;
    z-index: 3;
    left: 120px;
    background: repeating-linear-gradient(45deg, hsla(120,100%,50%,0.7),hsla(120,100%,50%,0.3) 15%);
    position: absolute;
}

.subheader{
    background-color: rgb(0,40,0);
    color: white;
    padding:0 10px 0 50px;
    font-size: 1.5em;
    
}

p{
    margin-bottom: 1em;
}
section li {
    margin-bottom: .5em;
}
header {
    margin: 10px;
    text-align: center;
}

#main-doc header {
    margin: 0;
    text-align: left;
}

ul,ol {
    margin-left: 40px;
    
}

#main-doc {
    position: absolute;
    margin-top: 290px;
    padding-left: 20px;
    padding-right: 10px;
    /* border: 1px solid red; */
    margin-bottom: 150px;
    
}

section article {
    margin: 15px;
    font-size: .9em;
    
}

/* navbar-mobile layout */
#navbar {
    position: absolute;
    top: 0;
    padding:0;
    margin:0;
    width: 100%;
    z-index: 1;
    border-bottom: 2px solid;
    background-color: hsl(120, 50%, 92%);
}

#navbar ul{
    height: 205px;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid rgb(50,50,50);
    border-radius: 2px;
    margin-left: 0;
}

#navbar li {
    border-top: 1px solid;
    border-color: rgb(100,100,100);
    list-style: none;
    position: relative;
    width: 100%;
    margin: 0;
}

#navbar li:first-of-type {
    border-top: none;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: rgb(100,100,100);
    text-decoration: none;
    cursor: pointer;
}

.ex-div {
    margin-bottom: .8em;
}

@media only screen and (min-width: 800px){
    /* Desktop size
    Make sure the nav bar is on the left 
    and stays on the screen while you scroll */
    
    #navbar {
        position: fixed;
        width: 225px;
        height: 100%;
        border-right: solid;
    }

    #main-doc{
        position: absolute;
        margin-left: 225px;
        margin-top: 0;
        padding-top: 20px;
        
    }

    #navbar ul {
        height: 100%;
    }
}

